
bp-dataapi/.classpath
bp-dataapi/.project
bp-dataapi/.settings/.jsdtscope
*.prefs
bp-dataapi/.settings/org.eclipse.wst.common.component
bp-dataapi/.settings/org.eclipse.wst.common.project.facet.core.xml
bp-dataapi/.settings/org.eclipse.wst.jsdt.ui.superType.container
bp-dataapi/.settings/org.eclipse.wst.jsdt.ui.superType.name
bf_track_javasdk/.classpath
bf_track_javasdk/.project
bf_track_jssdk/.classpath
bf_track_jssdk/.project
bf_track_jssdk/.settings/.jsdtscope
bf_track_jssdk/.settings/org.eclipse.wst.common.component
bf_track_jssdk/.settings/org.eclipse.wst.common.project.facet.core.xml
bf_track_jssdk/.settings/org.eclipse.wst.jsdt.ui.superType.container
bf_track_jssdk/.settings/org.eclipse.wst.jsdt.ui.superType.name
bf_transformer/.classpath
bf_transformer/.project
bf_transformer/dependency-reduced-pom.xml
